@model pizzashop.ViewModel.ChangePasswordViewModel
@{
    ViewData["Title"] = "Profile";

    var email = Context.Request.Cookies["email"];
}

<div class="add-user-container p-3">

    <div class="add-user-container p-3">
    <div class="head-section d-flex justify-content-between align-items-center">
        <h2 class="custom-blue fw-bold">Change Password</h2>
        <div class="search-section d-flex gap-2">
            <!-- <a href="/Userlist.html"><button type="button" class=" custom-btn-bg text-white custom-blue p-2 border">Back</button></a> -->
        </div>
    </div>

    <form asp-action="ChangePassword" asp-controller="Profile" class="" style="width: 350px;">


        <p class="fs-6">Enter New Password To update Your Credentials</p>

        <div class="form-group has-feedback position-relative  mt-3" >
            <input type="password" asp-for="OldPassword" class="form-control py-3"  id="passwordinput"
                placeholder="Current password *" />
            <div>
                <img src="~/images/icons/eye-slash-fill.svg" alt="" id="seepassword" class="d-block">
                <img src="~/images/icons/eye-fill.svg" alt="" class=" d-none" id="hidepassword">
            </div>

            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback position-relative mt-3" >
            <input type="password" asp-for="NewPassword" class="form-control py-3"  id="passwordinput" 
                placeholder="new password *" />
            <div>
                <img src="~/images/icons/eye-slash-fill.svg" alt="" id="seepassword" class="d-block">
                <img src="~/images/icons/eye-fill.svg" alt="" class=" d-none" id="hidepassword">
            </div>

            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback position-relative mt-3" >
            <input type="password" asp-for="ConfirmPassword" class="form-control py-3"  id="passwordinput"
                placeholder="confirm new password *" />
            <div>
                <img src="~/images/icons/eye-slash-fill.svg" alt="" id="seepassword" class="d-block">
                <img src="~/images/icons/eye-fill.svg" alt="" class=" d-none" id="hidepassword">
            </div>

            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="d-flex gap-2 mt-3">
                <button class="custom-btn-bg text-white p-2 border rounded">Submit</button>
                <button class=" custom-blue-border rounded p-2 custom-blue"><a href="./Userlist.html"
                        class="custom-blue" style="text-decoration: none;">cancel</a></button>
            </div>
    </form>
</div>
