<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pizzashop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/pizzashop.styles.css" asp-append-version="true" />
</head>

@{
    Layout = null;
}

@model pizzashop.ViewModel.ForgotPasswordViewModel

<div class="login-container d-flex flex-column flex-lg-row roboto-font">

    <div class="bg-img h-100 w-100 w-lg-50 d-none">
        <img src="~/images/dominos_background.jpg" alt="" style="height: 100%; width: 100%; object-fit: cover;">
    </div>
    <div class="right w-100 h-100 custom-bg-blue d-flex flex-column justify-content-center ">
        <form
            class="login-form  w-sm-100  d-flex flex-column justify-content-center  align-content-center p-4 gap-3 m-auto forgot-password-form"
            id="login-form" onsubmit="return validateForm()" asp-action="ForgotPassword" asp-controller="User" method="post">
            <div class="d-flex justify-content-center align-items-center gap-3">
                <img src="~/images/logos/pizzashop_logo.png" class="img-fluid pizza-logo" alt="">
                <h2 class="custom-skyblue">PIZZASHOP</h2>
            </div>
            <h3>Forgot Password</h3>
            <span>Enter Your Email and we'll send reset password link to you email</span>
            <div class="form-group has-feedback position-relative">
                <input type="email" class="form-control py-3" id="email" asp-for="Email" name="email"
                    placeholder="Email" />
                <img src="~/images/icons/person-fill.svg" alt="">

            </div>

            <button type="submit" value="Submit" onclick="validateForm()"
                class="custom-btn-bg text-white py-2 border w-100 h-auto ">Send</button>
            <div class="mx-auto">
                <a asp-action="Login">Back to Login</a>
            </div>
            <div class="text-success w-75 p-2 rounded fw-semibold text-center m-auto" style="height: fit-content;">@ViewBag.message</div>
        </form>

        
    </div>

</div>

<script src="~/js/site.js" asp-append-version="true"></script>

</html>

@section Scripts {


    <partial name="_ValidationScriptsPartial" />

}